doctype html
html
  head
    meta(charset="utf-8")
    title Poderoso Manga reader
    script(type="importmap").
      {
        "imports": {
          "vue": "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.esm-browser.prod.js",
          "vue-router": "https://cdnjs.cloudflare.com/ajax/libs/vue-router/4.1.5/vue-router.esm-browser.min.js",
          "@vue/devtools-api": "https://unpkg.com/@vue/devtools-api@6.4.5/lib/esm/index.js",
          "redaxios": "https://cdn.jsdelivr.net/npm/redaxios@0.5.1/+esm"
        }
      }
  body
    #app: router-view
    script(src="/app.js" type="module")
